/* Colour Definitions */
:root {
	--gray: #1e1e22;
	--darkGray: #19191b;
	--darkGrayHover: #29292c;
	--whiteHover: rgb(219, 219, 219);
	--iconHover: rgb(73, 73, 73);
  }

/* Global Element Definitions */
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	color: white;
	background-image: url("imgs/wolfBackground.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
	background-color: #000003;
	margin: 0;
}

/* Background Mobile Version */

@media only screen and (max-width: 767px) {
	body{
		background-image: url("imgs/wolfBackgroundMobile.png");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #020818;
	}
 }

a{
	text-decoration: none;
	color: white;
}

.txtLink{
	color: white;
	font-size: 1.2em;
	text-decoration: none;

	border-bottom: transparent solid 2px;
    transition:border-bottom .2s ease-in-out;
}

	.txtLink:hover{
		color: var(--whiteHover);
		border-bottom: white solid 2px;
	}

button{
	color: white;
	background-color: var(--darkGray);
	border-color: white;
	border-radius: 5px;
	font-size: 1em;
	font-weight: 600;
	padding:8px;
}

button:hover {
	background-color: var(--darkGrayHover);
	cursor: pointer;
}

/* Background Image Cover */
.backgroundLayer {
	backdrop-filter: blur(5px);
	height: 100%;
	width: 100%;
}

/* Navbar */
nav{
	position: top;
	top: 0;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--darkGray);
}

.navLogo a img{
	height: 65px;
	margin: 5px;
}

.socialLinks {
	display: flex;
	flex-direction: row;
}

.socialLinks div{
	opacity: 1;
	margin: 0 5px;
	border-radius: 50%;
}

	.socialLinks div:hover{
		border-radius: 50%;
		background-color: var(--iconHover);
	}

.socialLinks div a img {
	height: 35px;
}

/* Navbar Mobile Design */

.mobileNav{
	display: none;
}

.mobileIcon{
	width: 50px;
	margin-right: 15px;
	cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white; /* Change to white */
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slideUpMenu {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

#content{
	transform: translateY(0%);
    transition: transform 1.5s ease;
}

.mobileMenu{
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 100vh;
	background-color: var(--darkGray);
	transform: translateY(-100%);
    transition: transform 0.65s ease;
}

.mobileItem{
	padding: 20px 0;
	font-size: 2em;
	font-weight: 500;
	border-radius: 0;
	border-style: solid;
	border-color: white;
	border-width: 0 0 3px 0;
}

.mobileSocials {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.mobileSocials div{
	opacity: 1;
	margin: 0 5px;
	border-radius: 50%;
	padding: 10px;
}

.mobileSocials div a img {
	height: 65px;
}

@media only screen and (max-width: 767px) {
	.desktopNav{
		display: none;
	}

	.mobileNav{
		display: flex;
	}
 }

/* Home Page */

.homeContent{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 150px;
}

.homeDiv{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 350px;
	padding: 40px 25px;
	background-color: var(--darkGray);
	border-radius: 15px;
	font-size: 1em;
	text-align: center;
}

.homeDiv img{
	width: 200px;
}

.homeDiv p{
	font-size: 1.1em;
}

/* Home Mobile Design*/

@media only screen and (max-width: 767px) {
	.homeContent{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	
	.homeDiv{
		width: 280px;
		padding: 25px;
		margin: 40px 0;
		font-size: 1em;
	}

	.homeDiv img{
		width: 200px;
	}
	
	.homeDiv p{
		font-size: 1em;
	}
 }

/* Main Projects Display Page */
.projectsTitleDiv {
	background-color: var(--darkGray);
	text-align: center;
	margin-top: 75px;
}

.projectsTitleDiv h1{
	font-size: 2.5em;
	margin: 0;
}

.projectsTitleDiv p{
	font-size: 1.1em;
	margin: 0;
}

.projectsGrid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 50px;
	grid-row-gap: 35px;
	padding: 15px;
	background-color: var(--darkGray);
}

.projectsDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	background-color: var(--gray);
	border-radius: 15px;
	font-size: 1em;
	text-align: center;
}

	.projectsDiv:hover{
		background-color: var(--darkGrayHover);
	}

.projectsImgDiv {
	padding: 25px 5px 10px 5px;
	height: 150px;
}

.projectsImgDiv img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-size: cover;
}

/* Main Projects Tablet Design */

@media only screen and (max-width: 1024px) {
	.projectsGrid {  
		grid-template-columns: repeat(2, 1fr);
	}
 }

/* Main Projects Mobile Design */

@media only screen and (max-width: 767px) {
	.projectsGrid {  
		grid-template-columns: repeat(1, 1fr);
	}
 }

 /* Main Services Display Page */
.servicesTitleDiv {
	background-color: var(--darkGray);
	text-align: center;
	margin-top: 75px;
}

.servicesTitleDiv h1{
	font-size: 2.5em;
	margin: 0;
}

.servicesTitleDiv p{
	font-size: 1.1em;
	margin-top: 10px;
}

.servicesGrid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 50px;
	grid-row-gap: 35px;
	padding: 15px;
	background-color: var(--darkGray);
}

.servicesDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	background-color: var(--gray);
	border-radius: 15px;
	font-size: 1em;
	text-align: center;
}

	.servicesDiv:hover{
		background-color: var(--darkGrayHover);
	}

.servicesImgDiv {
	padding: 25px 5px 10px 5px;
	height: 150px;
}

.servicesImgDiv img{
	height: 100%;
	border-radius: 5px;
	background-size: cover;
}

/* Main Services Tablet Design */

@media only screen and (max-width: 900px) {
	.servicesGrid {  
		grid-template-columns: repeat(2, 1fr);
	}
 }

/* Main Services Mobile Design */

@media only screen and (max-width: 767px) {
	.servicesGrid {  
		grid-template-columns: repeat(1, 1fr);
	}
 }